body{
    background-color: #cccccc; 
}

.container{
    background-color: white;
}

#systemContactInfo{
    background-color: black;
    color:white;                  /*文字顏色*/
    text-align: center;
    padding: 30px;                  /*上下邊框距離*/
    line-height: 1.8;               /*行高*/
}

#loginForm{
    padding: 30px;
}

#loginbtn{
    text-align: center;             /*按鈕置中*/
}