html,body{
    height: 100%;
    background-color: #cccccc; 
}

#mainContainer{
    min-height: 100vh;
}

th{
    text-align: center;
}

td{
    text-align: center;
}

.container{
    background-color: white;
}

.nav-link{                          /*userNav 內容置中*/
    text-align: center;
}

#listHeader{
    text-align: center;
}

#systemContactInfo{
    background-color: black;
    color:white;                  /*文字顏色*/
    text-align: center;
}

#createBtn{
    text-align: center;
}